@import "./normalize";
@import "./utilities/mixins";
@import "./utilities/extends";
@import "./variable";

* {
  font-family: $base-font-family;
  color: $Dark-Blue-text;
  font-size: $base-font-size;
}

nav {
  z-index: 3;
  background-color: $white;
  .navbar-nav {
    li {
      position: relative;
      &:hover {
        &::after {
          content: "";
          left: 0;
          position: absolute;
          bottom: -10px;
          background: $base-linear-gradient;
          height: 5px;
          animation-name: animate-width;
          animation-duration: 0.5s;
        }
      }
    }
  }
  @keyframes animate-width {
    from {
      width: 10%;
    }
    to {
      width: 100%;
    }
  }
  .hidden-menu {
    position: absolute;
    top: 70px;
    left: 50%;
    width: 90%;
    max-width: 400px;
    background-color: white;
    transform: translate(-50%);
    text-align: center;
    border-radius: 10px;
    padding: 15px;
    display: none;
    a {
      color: $Dark-Blue-text;
    }
  }
  .navbar-toggler {
    border: 0;

    &:hover {
      .hidden-menu {
        display: block;
      }
      .navbar-toggler-icon {
        background-image: url(../images/icon-close.svg);
      }
    }
  }
}

.landing-section {
  background-color: $very-light-gray-background;
  .intro {
    align-items: center;
    position: relative;
    p {
      @extend .description;
    }
  }
  .intro-background {
    height: 75vh;
    .background {
      @include background-img("../images/bg-intro-desktop.svg", 75%, 60%);
      background-position: 6% 56%;
      right: 0;
    }
    .mockups {
      @include background-img("../images/image-mockups.png", 110%, 50%);
      z-index: 2;
      top: -10%;
      right: 0;
      background-size: contain;
      background-position: 20vh;
    }
    @media (max-width: 776px) {
      .mockups {
        top: -20%;

        background-size: contain;
        width: 100%;
        height: 100%;
        background-position: center;
      }
      .background {
        width: 100%;
        background-size: cover;
        background-image: url(../images/bg-intro-mobile.svg);
      }
    }
  }
}
@media (max-width: 500px) {
  .intro-background {
    height: 60vh !important;
  }
}
.plans {
  background-color: $light-gray-blue-background;

  h2 {
    @include text-styling(1.8rem, "", $title-font-weight);
  }
  p {
    @extend .description;
  }
  .card {
    border: 0;
    background-color: transparent;
    img {
      width: clamp(20%, 30%, 25%);
    }
    h3 {
      @include text-styling(1.3rem, "", $title-font-weight);
      height: 15%;
    }
    p {
      @include text-styling(0.8rem, $light-gray-text);
    }
  }
}

.article {
  background-color: $very-light-gray-background;
  .card {
    border: 0;
    background-color: $very-light-gray-background;
    .card-body {
      background-color: white;
    }
    img {
      height: clamp(60%, 40%, 30%);
    }
    p {
      @include text-styling(0.7rem, $light-gray-text);
    }
    .writer {
      font-size: 0.5rem;
    }
    h6 {
      @include text-styling(0.8rem);
      cursor: pointer;
      &:hover {
        background: linear-gradient(
          to bottom,
          hsl(136, 65%, 51%) 0%,
          hsl(192, 70%, 51%) 100%
        );
        /* Mask the color to the text, and remove the rest  */
        -webkit-background-clip: text;
        /* Make the text fill color value transparent so the masked background color comes through */
        -webkit-text-fill-color: transparent;
      }
    }
  }
}
footer {
  background-color: hsl(233, 26%, 24%);
  .socia-media {
    ul {
      @extend .footer-ul;
      li {
        display: inline-block;
        margin: 0 5px;
      }
    }
  }
  .links {
    ul {
      @extend .footer-ul;
      li {
        @include text-styling(0.9rem, hsl(0, 0%, 100%));
        margin: 10px;
        &:hover {
          color: $primary;
          cursor: pointer;
        }
      }
    }
  }
  .copy-right {
    font-size: 15px;
    color: $light-gray-text;
  }
}
